{{ .First }}{{ .Last }}{{ .Suffix }}
{{ .First }}.{{ .Last }}{{ .Suffix }}
{{ slice .First 0 1 }}.{{ .Last }}{{ .Suffix }}
{{ .First }}.{{ slice .Last 0 1 }}{{ .Suffix }}
{{ slice .First 0 1 }}.{{ slice .Last 0 1 }}{{ .Suffix -}}
